		.navbar
		{
			background-color:#000080;
		
		}
		.btn1
		{
			background-color:#000080;
			color:white;
		}
		.nav-link
		{
		color:white;
		}
		.navbar-brand
		{
		color:white;
		}

		h6
		{
			font-size:12px;
			color:white;
		}
		.signin
		{
			border:2px solid #ddd;
			width:30%;
			height:40%;
			background-color:whitesmoke;
			padding: 5px;

		}
		.signup
		{
			border:2px solid #ddd;
			width:30%;
			background-color:whitesmoke;
			padding: 5px;
			
		}
		.link 
		{
			color:#000080;
		}
		.first_name
		{
			margin-left: 15px;
		}
		#button
		{
			width:330px ;
			background-color:#000080;
		}
		#sign
        {
        	margin-top: 20px;
        }
         .forget
         {
         	margin-right:20px;
         }
		
		#LoginForm
		{
			background-color:whitesmoke;
		}
        .container
        {
         
         z-index:500;
        }
		 .section_contain
		 {
			 padding-top:25px;
		 }
        
         .link
         {
         
         }
         .form-inline
         {
         margin-top:5px;
         }
        
         .footer
         {
         background-color:whitesmoke;
         height:150px;
         }
         .link
         {
         	padding:7px;
         }
         #back
		 {
         margin-right:400px;
		 }
		 .img_logo{
			 height:50px;
			 width:50px;
			 border-radius:30px;
		 }
		 .full-width
		 {
         display:flex;
         }
		 .col
		 {
		 background-color:lightblue;
		 height:50px;
		 border:solid lightblue;
		 border-radius: 10px;
		}
		#all
		{
			display: none;
		}
		#all:target
		{
			display: block;
		}
		 		}
